<!-- <pre>{{ items | json }}</pre> -->
<div class="slider" >
    <ng-container *ngFor="let item of items; let i = index" >
      <div class="slide" *ngIf="i == currentSlide" @sliderFade>
        <div class="slide-bg">
          <img class="slide-bg-image" [lazyLoad]="'https://image.tmdb.org/t/p/w1280'+ item.backdrop_path" alt="" />
        </div>

        <div class="slide-pane">
          <h2 class="name">{{item.title}}</h2>
          <div class="meta">
            <div class="info">
              <span class="rating">
                <span class="app-icon">star</span><span class="rating-value">7.3</span
                ><span>/10</span>
              </span>
              <span>50</span>
              <span>1995</span>
            </div>
          </div>
          <div class="desc mt-6">
          {{item.overview}}
          </div>

          <div class="desc mt-6">
            <a [routerLink]="'/movie/' + item.id" class="slider-btn"> View Ratings</a>
            </div>

        </div>


        
      </div>
    </ng-container>
  </div>